
.devcontainer/devcontainer.json
.devcontainer/devcontainer.json
.devcontainer/Dockerfile
.idea/.name
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/Thesis_2023.iml
.idea/workspace.xml
.ml-job-preset.yml
.idea/vcs.xml
.devcontainer/devcontainer.json
.devcontainer/Dockerfile
__pycache__/dataprep.cpython-310.pyc
mlc.exe
.devcontainer/devcontainer.json
.devcontainer/Dockerfile
.ipynb_checkpoints/RecVAE-checkpoint.ipynb
__pycache__/dataprep.cpython-39.pyc
__pycache__/model.cpython-39.pyc
__pycache__/utils.cpython-39.pyc
.ipynb_checkpoints/logs-checkpoint.ipynb
.ipynb_checkpoints/logs-checkpoint.ipynb
.ipynb_checkpoints/logs-checkpoint.ipynb
.ipynb_checkpoints/Ratings distribution-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
Amazon_Clothing_Shoes_and_Jewelry.csv
Food_com.csv
.ipynb_checkpoints/logs-checkpoint.ipynb
RecVAE/
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/logs-checkpoint.ipynb
best_ae_(128, 3)_2.pt
best_ae_(128, 3)_3.pt
best_ae_(128, 3)_5.pt
best_ae_(128, 5)_3.pt
best_ae_(128, 5)_5.pt
best_ae_(256, 4)_2.pt
best_ae_(128, 5)_6.pt
best_ae_(256, 4)_3.pt
best_ae_(256, 4)_5.pt
best_ae_(256, 4)_6.pt
best_ae_(128, 3)_4.pt
best_ae_(128, 3)_6.pt
best_ae_(128, 5)_4.pt
best_ae_(256, 4)_4.pt
best_ae_(128, 5)_2.pt
